<div class="message">
	<p style="border-bottom:1px solid #ddd;">34543
		<span style="padding:2px;"><%= message[:id] %></span>
		<span style="padding:2px;"><%= message[:room_no] %></span>
		<span style="padding:2px;"><%= message[:doctor] %></span>
		<span style="padding:2px;"><%= message[:technical_title] %></span>
		<span style="padding:2px;"><%= message[:see_doctor] %></span>
	</p>
</div>
