<h1>Chat room</h1>
 
<form>
  <label>Say something:</label><br>
  <input type="text" data-behavior="room_speaker">
</form>

<form action="/room/update" method="put" accept-charset="UTF-8" novalidate="novalidate">
	<input name="authenticity_token" type="hidden" value="">
	<!-- <input class='hidden' name="_method" value="put"> -->
	<table border="1" cellpadding="0" cellspacing="0">
		<thead>
			<tr>
				<th style="display:none;">id</th>
				<th>诊室</th>
				<th>医生</th>
				<th>职称</th>
				<th>病人</th>
			</tr>
		</thead>
		<tbody>
			<% if @messages %>
				<% @messages.each do |i|%>
					<tr>
					<td style="display:none;"><input name='rooms[][id]' value="<%= i.id %>"></td>
					<td><input style="border:none;" name='rooms[][room_no]' value="<%= i.room_no %>"></td>
					<td><input style="border:none;" name='rooms[][doctor]' value="<%= i.doctor %>"></td>
					<td><input style="border:none;" name='rooms[][technical_title]' value="<%= i.technical_title %>"></td>
					<td><input style="border:none;" name='rooms[][see_doctor]' value="<%= i.see_doctor %>"></td>
					</tr>
				<% end %>
			<% end %>
		</tbody>
	</table>
	<button type="button" id="submit_setup_room">保存</button>
</form>
