<% if @messages %>
	<% @messages.each do |i|%>
		<p style="border-bottom:1px solid #ddd;">
			<span style="padding:2px;"><%= i.id %></span>
			<span style="padding:2px;"><%= i.message %></span>
			<span style="padding:2px;"><%= i.created_at %></span>
			<span style="padding:2px;"><%= i.updated_at %></span>
			<span style="padding:2px;"><%= i.state %></span>
			<span style="padding:2px;"><%= i.type %></span>
		</p>
	<% end %>
<% end %>		
