<div class="message">
	<p style="border-bottom:1px solid #ddd;">
		<span style="padding:2px;"><%= message[:id] %></span>
		<span style="padding:2px;"><%= message[:message] %></span>
		<span style="padding:2px;"><%= message[:created_at] %></span>
		<span style="padding:2px;"><%= message[:updated_at] %></span>
		<span style="padding:2px;"><%= message[:state] %></span>
		<span style="padding:2px;"><%= message[:type] %></span>
	</p>
</div>
