<!DOCTYPE html>
<html>
  <head>
    <title>Notes</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'base','fontawesome/font-awesome.min','bootstrap-3.3.7/bootstrap-theme.min','bootstrap-3.3.7/bootstrap.min' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'jquery.min','plugins/vue.min','bootstrap/bootstrap.min' %>
  </head>

  <body>
    <% if notice %> <p class="notice"><%= notice %></p><% end %>
    <% if alert %> <p class="alert"><%= alert %></p> <% end %> 	
    <%= yield %>
  </body>
</html>
